<%- include('./templates/header') %>
    <!--user   -->
    <div class="body_user">
        <div class="user">
            <form action="" method="post">
                <h1>Signup</h1>
                <label for="" class="btn-left">Họ và Tên</label><br>
                <input class="input" type="text" name="name"  placeholder="Họ và tên" required><br>
                <label for="" class="btn-left">Email</label><br>
                <input class="input" type="email" name="email" placeholder=" Nhập Email" required><br>
                <label for="" class="btn-left">Password</label><br>
                <input class="input" type="password" name="password" placeholder=" Nhập Password" required><br>
                <label for="" class="btn-left">Password</label><br>
                <input class="input" type="password" name="password2" placeholder=" Nhập Lại Password" required><br>
                <a href="#" target="_blank" class="link forgot" id="btn-left">Quên mật khẩu</a><br>
                <input class="input" type="submit" value="Login" class="btn-submit"><br>
                <div style="color: red;">
                    <%= message %>
                </div>
                <label for="#">If you have an account, please log in</label><a href="" class="link">Login</a><br>
                <span class="line left"></span><span class="center">Or</span><span class="line rigth"></span><br>
                <a href="#" class="btn face">Login with Facebook</a><br>
                <a href="#" class="btn google">Login with Google</a>
            </form>
        </div>
    </div>
    <!--  End user -->
<%- include('./templates/footer') %>