 <!--footer  -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3 class="name_website">TEA MILK</h3>
                <div>
                    <img src="" alt="">
                </div>
                <p>
                    Chào mừng bạn đã tới website
                </p>
            </div>
            <div class="col-4">
                <h3 class="title"> GiớI thiệu</h3>
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Liện hệ</a></li>
                    <li><a href="">...</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3 class="title">Tin Tức</h3>
                <ul>
                    <li><a href="">Tin tức 24h</a></li>
                    <li><a href="">SDT: 0959692398</a></li>
                    <li><a href="">Email: nhào@gmail.com</a></li>
                    <li><a href="">Địa chỉ: HCM</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyriht">Website của Nguyễn Nhựt Hào @Nocopyright</p>
</footer>
<!-- end footer -->
<script src="/public/js/banner.js"></script>
</body>
</html>